.new-errorMessages {
            color: red;
        }

.card {
        margin-bottom: 30px;
}

.btn-default >.badge-notify{
   background:red;
   position:relative;
   top: 7px;
   left: -62px;
}

.border-thick {
    border-width: 5px;
}