<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>アカウント管理画面</title>
</head>
<body>
    <div th:include="header"></div>
    <h2>アカウント管理画面</h2>
    <div th:if="${errorMessages != null}">
        <div class="errorMessages" th:each="errorMessage : ${errorMessages} ">
            <li th:text="${errorMessage}"/>
        </div>
        <br />
    </div>
    <a th:href="@{/newAccount}">
        <button class="new-account" type="button">アカウント新規作成</button>
    </a>
    <div>
        <a th:href="@{/top}">
            <input type="button" value="戻る">
        </a>
    </div><br>
    <table class="accounts">
        <tr class="accountsTableTitle">
            <th>アカウント名</th>
            <th>氏名</th>
            <th>所属グループ</th>
            <th>アカウント稼働状態</th>
            <th>承認者権限</th>
            <th>管理者権限</th>
        </tr>
        <div th:each="a : ${accounts}">
            <tr>
                <td>
                    <p th:text="${a.account}" />
                </td>
                <td>
                    <p th:text="${a.name}" />
                </td>
                <td>
                    <p th:text="${a.groupName}" />
                </td>
                <td>
                    <th:block th:switch="${a.isStopped}">
                        <span th:case=0 th:text="稼働中" />
                        <span th:case=1 th:text="停止中" />
                    </th:block>
                </td>
                <td>
                    <th:block th:switch="${a.superVisor}">
                        <span th:case=0 th:text="無" />
                        <span th:case=1 th:text="有" />
                    </th:block>
                </td>
                <td>
                    <th:block th:switch="${a.admin}">
                        <span th:case=0 th:text="無" />
                        <span th:case=1 th:text="有" />
                    </th:block>
                </td>
                <td>
                    <div th:if="${loginAccount.id != a.id}">
                        <div th:if="${a.isStopped == 0}">
                            <form th:method="put" th:action="@{/{id}(id=${a.id})}">
                                <input type="submit" value="停止" name="isStopped-button" class="off">
                            </form>
                        </div>
                        <div th:if="${a.isStopped == 1}">
                            <form th:method="put" th:action="@{/{id}(id=${a.id})}">
                                <input type="submit" value="復活" name="isStopped-button" class="on">
                            </form>
                        </div>
                    </div>
                </td>
                <td>
                    <a th:href="@{/editAccount/{id}(id=${a.id})}">
                        <button class="edit-account" type="button">編集</button>
                    </a>
                </td>
            </tr>
        </div>
    </table>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>