<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
    <div class="container">
        <div th:include="header"></div>
    <div th:if="${errorMessages != null}">
        <div class="new-errorMessages" th:each="errorMessage : ${errorMessages}">
            <li th:text="${errorMessage}"/>
            <br>
        </div>
    </div>
    <table class="table">
        <tr class="approval-table-title">
            <th>日付</th>
            <th>勤務開始時間</th>
            <th>勤務終了時間</th>
            <th>休憩開始時間</th>
            <th>休憩終了時間</th>
            <th>メモ</th>
        </tr>
        <tr>
            <div class="work-form">
                <div class="d-flex">
                    <form th:action="@{/editWork/{id}(id=${work.id})}" th:object="${work}" th:method="put">
                        <td>
                            <div class="form-group">
                                <input type="date" th:field="*{strDate}"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="time" th:field="*{strWorkStart}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="time" th:field="*{strWorkEnd}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="time" th:field="*{strRestStart}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="time" th:field="*{strRestEnd}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" th:field="*{memo}">
                            </div>
                        </td>
                        <input type="hidden" name="status" th:value="*{status}">
                        <input type="hidden" name="groupId" th:value="*{groupId}">
                        <input type="hidden" name="accountId" th:value="*{accountId}">
                        <td>
                            <input class="btn btn-outline-primary btn-block" type="submit" value="更新">
                        </td>
                    </form>
                </div>
            </div>
        </tr>
    </table>
        <br>
        <a th:href="@{/}">
            <input class="btn btn-primary" type="button" value="戻る">
        </a>
    </div>
    </body>
</html>