<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>アカウント新規作成</title>
</head>
<body>
<div th:include="header"></div>
<div class="container">
    <h2>アカウント新規作成</h2>
    <div th:if="${errorMessages != null}">
        <div class="errorMessages" th:each="errorMessage : ${errorMessages} ">
            <li th:text="${errorMessage}"/>
        </div>
        <br />
    </div>
    <form method="post" th:action="@{/newAccount}" th:object="${accountForm}">
        <div class="form-area">
            <div class="account">
                アカウント名
                <input type="text" th:field="*{account}" /><br />
            </div>
            <br />
            <div class="name">
                氏名
                <input type="text" th:field="*{name}" /><br />
            </div>
            <br />
            <div class="password">
                初期パスワード
                <input type="password" th:field="*{password}" /><br />
            </div>
            <br />
            <div class="confirm-password">
                初期パスワード(確認用)
                <input type="password" th:field="*{passCheck}" /><br />
            </div>
            <br />
            <div class="group">
                所属グループ
                <select th:field="*{groupId}">
                    <option value="">選択してください</option>
                    <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                </select>
            </div>
            <br />
            <input type="submit" value="登録">
        </div>
    </form>
    <a th:href="@{/accountManage}">
        <input type="button" value="戻る">
    </a>
</div>
</body>
</html>