<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>パスワード編集</h2>
<div th:if="${errorMessages != null}">
    <div class="errorMessages" th:each="errorMessage : ${errorMessages} ">
        <li th:text="${errorMessage}"/>
    </div>
    <br />
</div>
<form th:method="put" th:action="@{/settingPassword/{id}(id=${accountForm.id})}" th:object="${accountForm}">
    <div class="form-area">
        <div class="password">
            新しいパスワード
            <input type="password" th:field="*{password}" /><br />
        </div>
        <br />
        <div class="confirm-password">
            新しいパスワード(確認用)
            <input type="password" th:field="*{passCheck}" /><br />
        </div>
        <br />
        <input type="submit" value="登録">
    </div>
</form>
<a th:href="@{/top}">
    <input type="button" value="戻る">
</a>
</body>
</html>