<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ホーム</title>

</head>
<body>
    <h2>勤怠管理システム</h2>
    <div class="notice">
        <div th:if="${count > 0 && loginAccount.superVisor == 1}">
            <li>[[${count}]]件の未承認の勤怠があります</li>
        </div>
        <div th:if="${remand > 0}">
            <li>[[${remand}]]件の差し戻しの勤怠があります</li>
        </div>
    </div>
    <a th:href="@{/newWork}">
          <input type="button" value="新規追加">
    </a>
    <div>
        <a th:href="@{/logout}">
            <input type="button" value="ログアウト">
        </a>
    </div>
    <form th:method="post" th:action="@{/previousMonth}">
        <input type="submit" name="previous-month" value="前月">
    </form>
    <th:block th:text="${displayMonth} + '月'"></th:block>
    <form th:method="post" th:action="@{/nextMonth}">
        <input type="submit" name="next-month" value="次月">
    </form>
    <div th:if="${loginAccount.superVisor == 1} ">
        <a th:href="@{approval}">
            <input type="button" value="承認">
        </a>
    </div>
    <table class="works">
        <tr class="works-table-title">
            <th>日付</th>
            <th>開始</th>
            <th>終了</th>
            <th>休憩</th>
            <th>メモ</th>
            <th>ステータス</th>
            <th>操作</th>
        </tr>
        <div class="works" th:each="work : ${works}">
            <div th:if="${work.accountId == loginAccount.id}">
            <tr>
                <td>
                    <div th:text="${#dates.format(work.date, 'yyyy/MM/dd')}"></div>
                </td>
                <td>
                    <div th:text="${work.workStart}"></div>
                </td>
                <td>
                    <div th:text="${work.workEnd}"></div>
                </td>
                <td>
                    <div th:text="${work.rest}"></div>
                </td>
                <td>
                    <div th:text="${work.memo}"></div>
                </td>
                <td>
                    <div th:if="${work.status == 0 || work.status == 3}">
                        <form th:method="put" th:action="@{/request/{id}(id=${work.id})}">
                            <input type="submit" name="request-button" value="申請">
                        </form>
                    </div>
                    <div th:if="${work.status == 1}">
                        <input type="button" value="申請済み" disabled>
                    </div>
                    <div th:if="${work.status == 2}">
                        <input type="button" value="承認済み" disabled>
                    </div>
                </td>
                <td>
                    <a th:href="@{/editWork/{id}(id=${work.id})}">
                        <div th:if="${work.status == 1 || work.status == 2}">
                            <button class="edit-work"  type="button" disabled>編集</button>
                        </div>
                        <div th:if="${work.status ==0 || work.status == 3}">
                            <button class="edit-work"  type="button" >編集</button>
                        </div>
                    </a>
                    <form th:method="delete" th:action="@{/deleteWork/{id}(id=${work.id})}">
                        <div th:if="${work.status == 1 || work.status == 2}">
                            <input type="submit" name="delete-button" value="削除" disabled>
                        </div>
                        <div th:if="${work.status == 0 || work.status == 3}">
                            <input type="submit" name="delete-button" value="削除" >
                        </div>
                    </form>
                </td>
            </tr>
            </div>
        </div>
    </table>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/main.js}" th:inline="javascript"></script>
</body>
</html>